html, body {
  height: 100%;
}

/**
 * Footer CSS
 */
footer {
  box-sizing: border-box;
  /*height: 100px;*/
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
